<div class="container">
    <h1>Welcome to Find Anagram World!</h1>
    <p>Give me a word!</p>
  <h3>This is the word given: </h3>
    <p><%=original_word%></p>
  <h3>Wala!!!! Here are the words:</h3>
  <div class="anagram">
    <%if @word_anagram%>
    <% @word_anagram.each do |text|%>
    <p><%=text%></p>
    <%end%>
    <%end%>
  </div>
</div>